body{
  background-color: #335454;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.calculator{
  padding: 20px;
  border-radius: 10px;
}

.screen{
  width: 224px;
  background-color: rgb(176, 205, 176);
  font-size: 40px;
  text-align: end;
  padding: 4px;
}
.buttons{
  width: 232px;
  display: flex;
  flex-wrap: wrap;
}

button{
  border: none;
  background-color: rgb(131, 129, 129);
  color: white;
  font-size: 40px;
  width: 50px;
  border-radius: 25px;
  margin: 4px;
  &:hover{
background-color: rgb(111, 110, 110);
  }
  &:active{
    background-color: rgb(232, 232, 232);
  }
}

#equals{
  background-color: rgb(218, 2, 2);
  &:hover{
    background-color: rgb(198, 1, 1);
  }
}

#clear{
  width: 100%;
  background-color: rgb(252, 226, 27);
  font-size: 30px;
  &:hover{
    background-color: rgb(252, 201, 17);
  }
}